<footer class="navbar navbar-inverse">

	<div class="btn-group">
		<a class="btn" href="../pages/about">About</a>
		<a class="btn" href="../products">Products</a>
		<a class="btn" href="../blogs">Blog</a>
		<a class="btn" href="../pages/contact">Contact</a>
	</div>
</footer>