<div class="page-header jumbotron row">
	<a href="/"><img src="../../../images/logoB.jpg" height="100" width="100px" class="col-md-2"></a>
	<h1 class="col-md-10">Some Random Website</h1>
	<div>
		<tr>
			<td><%= link_to 'Products', products_path %></td>
			<td><%= link_to 'About', pages_about_path %></td>
			<td><%= link_to 'Contact', pages_contact_path %></td>
		</tr>
	</div>
</div>